.Card{
    display: flex;
    flex-direction: column;    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 250px;
    height: 350px;
    padding: 15px;
    
   
}

.Img{
   
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.Img img{
    width: 100%;
    height: 0 auto;

    

}



.Titulo{
    margin-top: 5px;

}
.Texto{
    margin-top: 5px;
    font-size: 1.2rem;
}