.About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-size: 2.5rem;
}
aside{
   
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    margin: 10px;
    list-style: none;
    border-radius: 15px;
    
}