.Contact{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
   
}


fieldset{
    display: flex;
    flex-direction: column;
    
    max-width: 1300px;
    gap: 10px;
    padding: 10px;
    

}

input {
    min-width: 100%;
    height: 50px;
    font-size: 1.5rem;
    padding-left: 5px;
}

textarea{
    max-width: 100%px;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 5px;
}

button{
    min-width: 700px;
    height: 50px;
    font-size: 1.5rem;
    padding-left: 5px;
    background-color: rgb(255, 195, 42);
    border-radius: 15px;
    
}

button:hover{
    cursor: pointer;
}